/*
	Name:   Ronald Kiefer
	Title:     VegApplication2CSS
	Date:    January 24, 2018
*/

html  
{
	border-top: 50px solid  yellow;
	
}

.checkbx
     {
       width: 900pt;
	   background-color:  aqua;
	  
	 }
	 
	 
	  .header  {
	     background-color: aqua;
		 text-align: center;
		 }
		 
		 
		 
		 
 a.button {
        -webkit-appearance: button;
       -moz-appearance: button;
       appearance: button;
       margin-left: 50px;
       text-decoration: none;
	   color: initial;
       background-color: #FFE9FF;
	   font-size: 30pt;
}


	 
	 